{% extends 'base.html' %}

{% block title %}1일1자랑{% endblock %}
{% block content %}
<form
			action="{% url 'post:post_delete' post_pk=post.pk %}"
			method="POST">
			{% csrf_token %}
            <div class="writebtn" >
				<ol style="text-align: right"><button type="submit" class="btn btn-default" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button></ol>
            </div>
<!--<div class="writebtn">-->
<!--<ol><a button type="submit" class="btn btn-primary" href="{% url 'post:post_delete' post_pk=post.pk %}" methods="post">삭제</a></ol>-->
<!--</div>-->

	{% include 'include/post.html' with post_type='detail' %}

{% endblock %}
